<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer</title>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:8002/producer/rabbitmq/">Producer Function</a>
    </div>
    <div>
        <a href="http://localhost:8002/producer/rabbitmqrest">Producer Rest API EP</a>
    </div>
    <div>
        <a href="http://localhost:8002/api/docs/#/">Producer Rest API Docs</a>
    </div>
</body>
</html>